html, body {
  background-color: #007ced;
  background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
}

html, body, #root {
  width: 100%;
  height: 100%;
  padding: 0;
}

#root {
  position: relative;
  background: url(http://static.radulescu.me/examples/clouds/clouds1000.png) 0 200px,
              url(http://static.radulescu.me/examples/clouds/clouds1200_1.png) 0 300px,
              url(http://static.radulescu.me/examples/clouds/clouds1000_blur3.png) 100px 250px;
  animation: wind 20s linear infinite;
  overflow: scroll;
}

@keyframes wind{
  0% {
    background-position: 0 200px, 0 300px, 100px 250px;
  }
  100% {
    background-position: 1000px 200px, 1200px 300px, 1100px 250px;
  }
}

.Error {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1050px;
  min-height: 800px;
  overflow: scroll;
}
.error_message {
  background-color: white;
  padding: 50px;
}
